.home-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 50px 25px 0;
}

.home-show {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
